//- простая кнопка
mixin button(tagName, link, text, colorClass)
	if tagName == 'a'
		a(href=""+link class="button "+ colorClass ) #{text}
	if tagName == 'button'
		button(class="button "+ colorClass) #{text}

//- кнопка с иконкой
mixin button-flex(tagName, link, addClass, text, svgClass, svgId)
	if tagName == 'a'
		a(href=""+link class="button-flex "+ addClass)&attributes(attributes)
			svg(class="svg-"+svgClass)
				use(xlink:href="../img/svg-sprite.svg#svg"+ svgId)
			span #{text}
			
			
	if tagName == 'button'
		button(class="button-flex "+ addClass)&attributes(attributes)
			svg(class="svg-"+svgClass)
				use(xlink:href="../img/svg-sprite.svg#svg"+ svgId)
			span #{text}
			

//- кнопка с разделением по центру
mixin double-button(text1, text2)
	button.button.double-button
		.double-button__left
			.title-20 !{text1}
		.double-button__right
			.title-20 !{text2}