mixin list-types(listClass,  ...items)
	div(class= listClass)
		ul
			each item in items
				li= item

mixin list-sublist(arr)
	.marker-list.marker-list--grid
		ul
			each item in arr
				li
					p
						span !{item.listItem}
						span !{item.listPrice}
					if item.sublist
						ul
							each el in item.sublist
								li= el
				
//=====данные из реестра ====
mixin reestr-list(...items)
	.reestr-list
		each item in items
			.reestr-list-item
				.text-16 #{item.text1}
				span
				.text-12 #{item.text2}