mixin breadcrumbs(...items)
	.breadcrumb-block
		a(href="index.html").breadcrumb-block__item
			span.icon-home
		each item in items
			a(href="#!"+ item.link).breadcrumb-block__item #{item.text}
		
//-  свг + текст
mixin icon-group(svgClass, svgId, text)
	.svg-group
		svg(class="svg-"+svgClass)
			use(xlink:href="../img/svg-sprite.svg#svg"+ svgId)
		span !{text}

//-текстовая карточка
mixin text-card(title, text)
	.text-card&attributes(attributes)
		.title-16.text-upper !{title}
		.body-2 !{text}
//-лейбл в таблице объекта
mixin persone-label(personeName="Петров А.И.", addClass)
	if addClass
		.person-label(class=" person-label--"+ addClass)&attributes(attributes)
			span #{personeName}
			.info-icon
				svg.svg-info
					use(xlink:href="../img/svg-sprite.svg#svgInfo")
	else
		.person-label&attributes(attributes)
			span #{personeName}
			.info-icon
				svg.svg-info
					use(xlink:href="../img/svg-sprite.svg#svgInfo")
//- лейбл у таблицы объекта 1909 
mixin table-flag(text1,  addClass, text2)
	div(class=(addClass !=='' ? "table-flag table-flag--"+ addClass : "table-flag"))
		.body-2 #{text1}
		if text2
			.text-10 #{text2}

mixin legend-item(text, addClass)
	div(class=(addClass !=='' ? "legend-item legend-item--"+ addClass : "legend-item"))
		span
		| #{text}
	
//- карточка экспресс-данные
mixin express-card(title, svgcl, svgid, cl)
	.express-card(class=(cl ? " "+ cl : ""))
		.express-card__left
			svg(class=""+ svgcl)
				use(xlink:href="../img/svg-sprite.svg#"+svgid)
		.express-card__center
			.express-card-type
				.text-12 #{title}
			.express-card__task
				.text-12 Требуется уточнить обстоятельства розыска

		.express-card__right
			span 2
			svg.svg-chevron
				use(xlink:href="../img/svg-sprite.svg#svgChevron")

//- стр О ресурсе
mixin border-text(text)
	.border-text
		p !{text}
//- карточка сотрудника
mixin employee-card(imgSrc, name, rang)
	.employee-card
		.employee-card__img
			img(src="../img/"+ imgSrc+".jpg", width="296" alt="alt")
		.employee-card__text
			p !{name}
			span !{rang}

//- карточка преимущества
mixin benefit-card(topText, title, desk)
	.benefit-card
		.benefit-card__top
			.text-12 #{topText}
		.benefit-card__desk
			.text-16  #{title}
			.text-12.variable-fz  #{desk}
mixin timeline-item(num, title, text)
	.timeline-item
		.timeline-item__top
			span #{num}
			.text-16 #{title}
		.timeline-item__text
			p !{text}